html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  background-image: url(/assets/img/bg.webp);
    background-color: #FCFCF9;
    font-family: "Inter", sans-serif;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.page {
    align-items: flex-end;
    background-color: blanchedalmond;
    border-radius: 5px;
    display: flex;
    height: 100%;
    padding: 30px;
}

.pagealt {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

h1 {
  font-size: 28px;
  letter-spacing: 5px;
  margin: 48px 0;
}

.input {
height: 112px;
margin-bottom: 40px;
}

.button {
height: 80px;
}