html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: rgb(175, 152, 122);
    height: 100vh;
    margin: 0;
    padding: 30px;
    width: 100%;
}

.page {
    align-items: flex-end;
    background-color: blanchedalmond;
    border-radius: 5px;
    display: flex;
    height: 100%;
    padding: 30px;
}